doctype html
html(lang='en', ng-app="OverwatchApp")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Overwatch
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.1/lodash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js')
    script(src='//js.pusher.com/3.0/pusher.min.js')
    script.
      var app = angular.module('OverwatchApp', [])
      var pusher = new Pusher('1a3f12df43f8b51a7ea0')
      var channel
      var map
      app.controller('OverwatchController', ['$http', '$scope',
      function($http, $scope) {
        $scope.eventId = prompt('Event ID:')
        $scope.userId = 'Overwatch'
        channel = pusher.subscribe($scope.eventId)
      }])
      app.controller('ChatController', ['$http', '$scope',
      function($http, $scope) {
        $scope.message = []
        $http.get('/api/v1/events/' + $scope.eventId).then(function (res) {
          $scope.messages = res.data.messages.reverse()
        })
        channel.bind('message', function (data) {
          $scope.$apply(function () {
            $scope.messages.unshift(data)
          })
        })
        $scope.sendMessage = function () {
          $http.post('/api/v1/events/' + $scope.eventId + '/message', {
            sender: $scope.userId,
            message: $scope.message
          }).then(function () {
            $scope.message = ""
          })
        }
      }])
      function addNewCord (user, loc) {
        user.locations.push(loc)
        user.polyline.addLatLng([
          loc.latitude,
          loc.longitude
        ])
        user.marker.setLatLng([
          loc.latitude,
          loc.longitude
        ])
      }
      app.controller('MapController', ['$http', '$scope',
      function($http, $scope) {
        $http.get('/api/v1/events/' + $scope.eventId)
          .then(function (eventData) {
            $scope.event = eventData.data
            $scope.map = map = L.map('map').setView([51.505, -0.09], 13)
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
              attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
              maxZoom: 18,
              id: 'szekelyszilv.p978pghg',
              accessToken: 'pk.eyJ1Ijoic3pla2VseXN6aWx2IiwiYSI6ImNpbDV3eHB6ajAwMGF2bm00Yjc1MzJ0bTAifQ.htMEB2D5nzmtH9PnMSWR6w'
            }).addTo($scope.map)
            _.forEach($scope.event.users, function (user) {
              user.polyline = L.polyline([], {color: 'red'}).addTo($scope.map)
              user.marker = L.marker([0, 0]).addTo($scope.map)
              user.marker.bindPopup(user.id)
              user.locations.forEach(function (loc) {
                addNewCord(user, loc)
              })
            })
            channel.bind('location', function (data) {
              var user = $scope.event.users[data.sender]
              addNewCord(user, data.location)
            })
          })
      }])
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Overwatch
    .content.container-fluid(ng-controller='OverwatchController')
      .row
        .col-md-8
          #map(ng-controller='MapController', style="height: 560px;")
        .col-md-4
          .panel.panel-default
            .panel-heading
              h3 Chat
            .panel-body
              #chat(ng-controller='ChatController')
                .input-group
                  span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='sendMessage()', ng-keypress='keyPressed()') Send
                  input.form-control(type='text', ng-model='message', placeholder='Type your message...')
                div(style="height: 350px; overflow: scroll;")
                  table.table
                    tr(ng-repeat='message in messages')
                      td {{message.sender}}
                      td {{message.message}}
    a(href='https://github.com/SomeRandomTeam/')
            img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png')
